:root {
  --dark: #000000;
  --main-white: #ffffff;
  --primary: #48b05d;
  /* --primary: #ff9204; */
  --secondary: #0d270d;
  --gray: #f4f4f4;
  --border-light-color: #E7E7E7;
  --hero-background-color: rgba(26, 26, 26, 0.7);
  --accent-background-color: rgba(42, 65, 42, 0.1);
  --top-background-color: rgba(88, 133, 88, 0.1);
}

html {
  scroll-behavior: smooth;
}
body {
  font-size: 14px;
  color: var(--dark);
  background-color: var(--background-white);
}
img {
  display: block;
  width: 100%;
  height: auto;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: inherit;
} */

/* a:hover, a:focus {
    text-decoration: underline; 
  } */

/* a:active {
    text-decoration: none;
    color: red;
  } */

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 2px solid var(--main-white);
  border-radius: 28px;
  color: var(--main-white);
  text-transform: uppercase;
  box-shadow: none;
  transition: 0.5s;
  outline: none;
}
.main__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  color: var(--main-white);
  text-transform: uppercase;
  width: 140px;
  height: 44px;
  font-size: 16px;
  background: var(--primary);
  border: 2px solid var(--primary);
  box-shadow: none;
  transition: 0.5s;
  outline: none;
}
.container {
  width: 1400px;
  padding: 0 12px;
  margin: 0 auto;
  outline: 1px solid red;
}

/* --- header---- */
.header__fixed {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 20;
}
.header__top {
  color: var(--main-white);
  background-color: var(--secondary);
}
.header__top-inner {
  padding: 6px 0;
  text-align: center;
}
.header__top a {
  text-transform: uppercase;
  color: var(--primary);
}
header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: transparent;
  transition: all 0.3s;
}
.header__bottom {
  background: transparent;
}
.header__bottom-scroll {
  background: var(--main-white);
  color: var(--dark);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 21px;
  color: var(--main-white);
  transition: all 0.3s ease;
}
.header__inner-scroll {
  padding-top: 12px;
  padding-bottom: 12px;
  color: var(--dark);
}
.header__logo {
  display: block;
  width: 112px;
  height: 62px;
  border: 4px solid var(--primary);
  font-size: 30px;
  font-weight: 600;
}
.header__menu-list {
  display: flex;
  gap: 50px;
  font-size: 16px;
}

.header__menu-item:hover,
.header__menu-item:focus {
  color: var(--primary);
}
.header_contacts {
  width: 362px;
  display: flex;
  gap: 30px;
  align-items: center;
}
.phone {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 5px;
}
.phone:hover,
.phone:focus {
  color: var(--primary);
}

.phone-icon {
  width: 16px;
  height: 16px;
  fill: var(--main-white);
}
.phone:hover .phone-icon,
.phone:focus .phone-icon {
  fill: var(--primary);
}
.phone-scroll {
  fill: var(--dark);
}
.text__border {
  border-bottom: 1px dashed var(--main-white);
}
.text__border:hover,
.text__border:focus {
  border-bottom: 1px dashed var(--primary);
}
.text__border-scroll {
  border-bottom: 1px dashed var(--dark);
}
.language-icon {
  width: 24px;
  height: 24px;
}

/* ---   hero_section   --- */
.hero__section {
  height: 911px;
  color: var(--main-white);
  background-image: linear-gradient(
      var(--secondary),
      var(--hero-background-color)
    ),
    url(../images/visual/d3danimation_bg_3__1920.webp);
}
.hero__inner {
  display: flex;
  align-items: center;
  height: 100%;
}
.hero__content {
  max-width: 700px;
}
.hero__content > h1 {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 36px;
}
.hero__content > h2 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.hero__section .btn {
  width: 196px;
  height: 52px;
  font-size: 16px;
}

/* ----- oferta__section ------ */
.oferta__inner {
  padding-top: 110px;
  padding-bottom: 90px;
}
.oferta__title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
.oferta__text {
  font-size: 18px;
  text-align: center;
  margin-bottom: 16px;
}
.oferta__list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.oferta__item {
  width: 676px;
  min-height: 530px;
  font-size: 22px;
  text-transform: uppercase;
}
.oferta__img-wrap {
  position: relative;
  overflow: hidden;
}
.oferta__item-img {
  width: 100%;
  transition: transform 0.3s ease;
}
.oferta__item:hover .oferta__item-img {
  transform: scale(1.1);
}
.oferta__item-description {
  display: block;
  text-align: center;
  padding: 30px 0;
}

.oferta__inner .btn {
  width: 230px;
  height: 56px;
  border: 2px solid var(--primary);
  font-size: 16px;
  margin: auto;
}

/* ----------- visual__section" ------------ */

.visual__section {
  min-height: 620px;
  padding-top: 160px;
  padding-bottom: 180px;
  background-image: linear-gradient(
      var(--secondary),
      var(--hero-background-color)
    ),
    url(../images/visual/d3danimation_bg_3__1920.webp);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-position 0.3s ease;
}
.visual__content {
  width: 1006px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-white);
}

.visual__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 36px;
}

.visual__subtitle {
  font-size: 48px;
  margin-bottom: 50px;
}
.visual__content .main__btn {
  width: 253px;
  height: 54px;
  margin: auto;
}
/* ------------ video__section ------------ */
.video__section {
  position: relative;
}
.video__inner {
  padding-top: 90px;
  padding-bottom: 90px;
}
.video__content {
  width: 676px;
  margin-left: auto;
}
.video__title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.video__text {
  font-size: 18px;
  margin-bottom: 16px;
}
.video__statistic-list {
  padding-top: 20px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
}
.video__statistic-item {
  width: 33%;
}
.stat-data {
  font-size: 34px;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 8px;
}
.stat-text {
  font-size: 18px;
  font-weight: 700;
}
.video__image {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(50% - 156px);
  background-image: linear-gradient(
      var(--top-background-color),
      var(--accent-background-color)
    ),
    url(../images/video/IMG_20210302_205807.webp);
}

.play-icon {
  width: 32px;
  height: 32px;
  fill: var(--main-white);
}

.video__btn:hover,
.video__btn {
  background-color: var(--dark);
}

.video__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  border: 0;
  border-radius: 50%;
  background-color: var(--primary);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  transition: all 0.3s ease;
}
/* ---------------- oprosnik__section ---------------- */
.oprosnik__section{
  background: url(../images/footer/footer-bg.webp) repeat-x top left var(--secondary);
  background-size: 50% auto;
}
.oprosnik__inner{
  padding-top: 90px;
  padding-bottom: 90px;
}
.oprosnik__title{
  width: 920px;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
  color: var(--main-white);
  
}
.oprosnik__title strong {
  color: var(--primary);
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--primary);
  border-radius: 3px;}

.oprosnik__card{
  width: 1378px;
  background: var(--main-white);
  border-radius: 10px;
  padding: 60px 0;
}
.oprosnik__card-form{
  width: 720px;
  margin: auto;
}
.oprosnik__card-subtitle{
  font-size: 22px;
  font-weight: 500;
  padding-top: 60px;
  margin-bottom: 30px;
  text-align: center;
}
/* ---- radio-button ---- */
.radio {
  height: 50px;
  position: relative;
  padding: 16px 20px 14px 20px;
  border: 1px solid var(--border-light-color);
  border-radius: 10px;
  margin-bottom: 15px;
  transition: all 250ms ease;
}
.radio:hover,
.radio:focus{
  border: 1px solid var(--primary);
}
.radio-checked{}

.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio input[type="radio"] + .radio-label:before {
  content: '';
  border-radius: 100%;
  border: 1px solid var(--border-light-color);
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}

.radio input[type="radio"]:checked + .radio-label:before {
  outline: none;
  border: 1px solid  var(--primary);
  background: var(--primary);

}

.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border: 1px solid  var(--primary);
}

.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}
.radio:has(input[type="radio"]:checked),
.radio:has(input[type="radio"]:not(:checked)):hover {
  background: rgba(72, 176, 93, 0.06);
  border-color: var(--primary);
}
/* ----- oprosnik-form -------- */

.oprosnik-form__submit {
  width: 720px;
  min-height: 376px;
  color: var(--dark);
}


.oprosnik-form__input-wrapper {
  margin-top: 8px;
  margin-bottom: 24px;
  padding: 11px 0;
  border: 2px solid var(--border-light-color);
  border-radius: 28px;
}

.oprosnik-form__userdata{
  
}
.oprosnik-form__input {
  background: transparent;
  border: none;
  outline: transparent;
}
.oprosnik-form__input::placeholder {
  font-size: 16px;
  color: var(--gray);
  opacity: 0.4;
}








/* ---------------- portfolio__section ---------------- */
.portfolio__inner {
  padding-top: 110px;
  padding-bottom: 90px;
}
.portfolio__title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}

.porfolio__list {
  height: 650px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 320px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 48px;
}

.portfolio__item {
  position: relative;
  overflow: hidden;
}
.portfolio__item:hover .portfolio__item-img {
  transform: scale(1.1);
}
.portfolio__item-img  {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.div1 {
  grid-area: 1 / 1 / 3 / 3;
}
.div2 {
  grid-area: 1 / 3 / 2 / 5;
}
.div3 {
  grid-area: 1 / 5 / 2 / 6;
}
.div4 {
  grid-area: 2 / 3 / 3 / 4;
}
.div5 {
  grid-area: 2 / 4 / 3 / 6;
}

.portfolio__inner .btn {
  width: 263px;
  height: 56px;
  border: 2px solid var(--primary);
  font-size: 16px;
  margin: auto;
}

/* ----------- form__section------------ */
.form__section {
  position: relative;
  min-height: 400px;
  background-image: linear-gradient(
      var(--top-background-color),
      var(--accent-background-color)
    ),
    url(../images/footer/footer-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form__inner {
  padding-top: 110px;
  padding-bottom: 90px;
  color: var(--main-white);
}
.form__submit {
  width: 640px;
  min-height: 376px;
}
.form__title {
  margin-bottom: 30px;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 700;
}
.form__subtitle {
  margin-bottom: 24px;
  font-size: 18px;
}
.form__wrapper {
}
.form__input-wrapper {
  margin-bottom: 24px;
  padding: 11px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.form__input {
  background: transparent;
  border: none;
  outline: transparent;
}
.form__input::placeholder {
  font-size: 16px;
  color: var(--gray);
  opacity: 0.4;
}
.form__image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: linear-gradient(
      var(--top-background-color),
      var(--accent-background-color)
    ),
    url(../images/form/IMG_20210920_165708.webp);
}
/* ----------- reviews__section -------------- */
.reviews__section{
  background: var(--gray);
}

.reviews__inner {
  padding-top: 110px;
  padding-bottom: 90px;
}

.reviews__title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}

.reviews__card {

  background: var(--main-white);
  width: 668px;
  min-height: 386px;
  padding: 60px;
  padding-top: 10px;
  margin-bottom: 60px;

}
.card__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
}
.card-logo {
  width: 48px;
  height: 48px;
}
.card-stars {
  width: 100px;
  height: 60px;
}

.card__text {
  font-size: 18px;
  opacity: 0.7;
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
}
.card__subtitle{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
/* ----------- contact__section ------------ */
.contact__inner {
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact__content {
  width: 443px;
  padding: 48px;
  display: flex;
  flex-direction: column;
}
.contact__title {
  font-size: 34px;
  font-weight: 700;
  padding-top: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.contact__phone {
  font-size: 24px;
  margin-bottom: 12px;
}
.contact__email {
  font-size: 18px;
  padding-top: 20px;
  margin-bottom: 12px;
}
.contact__text {
  font-size: 18px;
  margin-bottom: 30px;
}
.contact__btn {
  width: 155px;
  height: 56px;
  border: 2px solid var(--primary);
  font-size: 16px;
}
.contact__map {
  width: 909px;
  height: 580px;
}
.contact__map > iframe {
  width: 100%;
  height: 100%;
}
/* ------- footer ----------- */

.footer {
  min-height: 400px;
  background-image: linear-gradient(
      var(--secondary),
      var(--hero-background-color)
    ),
    url(../images/footer/footer-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__inner {
  padding-top: 80px;
  padding-bottom: 35px;
}
.footer__main {
  color: var(--main-white);
  display: flex;
  justify-content: space-between;
  padding-bottom: 45px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__logo {
  display: block;
  width: 160px;
  height: 90px;
  border: 4px solid var(--primary);
  font-size: 48px;
  font-weight: 600;
}

.footer__menu-list {
  display: grid;
  gap: 20px;
  font-size: 18px;
  max-width: 676px;
}

/* Две колонки при ширине экрана до 1200px */
@media (max-width: 1200px) {
  .footer__menu-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Три колонки при ширине экрана больше 1200px */
@media (min-width: 1201px) {
  .footer__menu-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
.footer__menu-item {
  width: 225px;
}
.footer__menu-item:hover,
.footer__menu-item:focus {
  color: var(--primary);
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  font-size: 18px;
}
.footer__contacts .email {
  padding-top: 10px;
}
.footer__bottom {
  display: flex;
  gap: 305px;
  align-items: center;
  padding-top: 35px;
}
.copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
}
.social__list {
  display: flex;
  gap: 10px;
}
.social__item {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--primary);
}
